.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages {
  flex: 1 1;
}

.bottom-bar {
  border-top: 1px solid #ddd;
  flex: 0 0 40px;
  display: flex;
}

.input-wrapper {
  flex: 1 1;
}

.input-wrapper input {
  border: 0;
  outline: none;
  background: transparent;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 8px;
}
