<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="ion-padding messages">
      <app-message *ngFor="let msg of messages" [message]="msg"></app-message>
    </div>

    <div class="bottom-bar">
      <div class="input-wrapper">
        <input placeholder="Wiadomość..." [(ngModel)]="message" />
      </div>

      <ion-button color="success" (click)="sendMessage()">Wyślij</ion-button>
    </div>
  </div>
</ion-content>