html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.toolbar {
  background-color: #3949ab;
  height: 52px;
  line-height: 52px;
  font-size: 25px;
  color: #fff;
  padding: 0 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.content {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  padding: 8px;
  box-sizing: border-box;
}

@media screen and (min-width: 1099px) {
  .card-container {
    flex: 1 1 25%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 900px) {
  .card-container {
    flex: 0 0 33.33%;
  }
}

@media screen and (max-width: 899px) and (min-width: 700px) {
  .card-container {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 699px) {
  .card-container {
    flex: 0 0 100%;
  }
}

.card {
  padding: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}

.item {
  margin-bottom: 8px;
}

.card__title {
  margin: 0 0 16px 0;
}