html, body {
  padding: 0;
  margin: 0;
}

.task-container {
  padding: 8px;
}

.task {
  background: #ddd;
  padding: 16px;
}

.task-title {
  margin: 0;
  padding-bottom: 2px;
}

.task-date {
  color: #666;
  font-size: 13px;
}

.task-body {
  margin: 0;
  padding: 8px 0;
}

.task-form {
  padding: 8px;
}

.task-form input {
  
}